body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: pink;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  flex-direction: column;
}
.container {
  text-align: center;
}
h1 {
  font-size: 2.7em;
  color: #c2185b;
}
.buttons {
  margin-top: 25px;
}
.yes-button, .no-button {
  font-size: 1.25em;
  padding: 10px 25px;
  margin: 7px;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  box-shadow: 0 2px 7px rgba(0,0,0,0.1);
  transition: background 0.2s, transform 0.2s, font-size 0.2s;
}
.yes-button {
  background-color: #66bb6a;
  color: white;
}
.yes-button:hover {
  background-color: #388e3c;
  transform: scale(1.1);
}
.no-button {
  background-color: #ef5350;
  color: white;
}
.no-button:hover {
  background-color: #b71c1c;
}
.gif_container img {
  max-width: 290px;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
}

.footer{
    color: darkcyan;
}